:root {
    --background-color: rgba(28, 29, 24, 255);
    --face-color: rgba(158, 155, 147, 255);
    --strap-color: rgba(120, 64, 28, 255);
}

body {
    display: flex;
    gap: 25px;
    flex-direction: row;
    background-color: white;
    font-family: 'Outfit', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

.left-container {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    position: relative;
}

.left-container > #space-monkey {
    max-width: 400vw;
    max-height: 100vh;
    z-index: 0;
}

.left-container > #odin-logo {
    z-index: 1;
    position: absolute;
    width: 65px;
    height: 68px;
    left: 20%;
    top: 5%;
    margin: auto;
}

.left-container > h1 {
    color: white;
    z-index: 1;
    position: absolute;
    margin: auto;
    top: 5vh;
    left: 22vh;
    font-size: 48px;
    text-decoration: overline;
}

.left-container > figcaption {
    color: white;
    z-index: 1;
    position: absolute;
    margin: auto;
    top: 95vh;
    left: 22vh;
}

.left-container > figcaption > a {
    color: white;
}

.right-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.studio-information {
    text-align: center;
    margin: 15px;
    padding: 15px;
}

.studio-information > h1 {
    margin: 15px;
    font-size: 10vh;
}

.studio-information > h2 {
    margin: 15px;
    text-align: center;
}

.sign-up-form {
    display: flex;
    align-items: center;
    height: 100px;
    flex-direction: column;
    padding: 15px;
    min-height: 50vh;
    margin-top: -5vh;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-width: 0;
    border: 0;
    gap: 10px;
}

/* fieldset {
    position: relative;
    padding: 25px;
    border-width: 0;
    border: 0;
} */

/* button, input {
    font-family: inherit;
    font-size: 100%;
    width: 150px;
    padding: 2px 10px;
    margin: 0;
    box-sizing: border-box;
} */

button[type="submit"] {
    background-color: var(--background-color);
    color: white;
    padding: 15px;
    margin: 75px;
    border-radius: 5px;
    width: 200px;
    font-family: inherit;
    font-size: 2vh;
}

label {
    margin: 3px;
}

.already-user {
    text-align: center;
    padding: 7vh;
}

#main > input:focus {
    outline: none;
    border: 5px solid lightblue;
    box-shadow: 0 0 5px;
    border-radius: 5px;
}

/* #main > input.match:focus {
    outline: none;
    border: 5px solid lightgreen;
    box-shadow: 0 0 5px;
    border-radius: 5px; 
}

#main > input.no-match:focus {
    outline: none;
    border: 5px solid pink;
    box-shadow: 0 0 5px;
    border-radius: 5px;
} */